<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Image Converter</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <h1>Downloads</h1>
  <a href="/image/<%=fileName%>" download>Download</a>
  <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>